
<div *ngIf="gallery">
    <h2><span jhiTranslate="hochzeitclick11App.gallery.detail.title">Gallery</span> {{gallery.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hochzeitclick11App.gallery.name">Name</span></dt>
        <dd>
            <span>{{gallery.name}}</span>
        </dd>
        <dt><span jhiTranslate="hochzeitclick11App.gallery.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'hochzeitclick11App.GalleryType.' + gallery.type}}">{{gallery.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gallery-my-suffix/'+ gallery.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
