<div>
    <h2>
        <span jhiTranslate="hochzeitclick11App.image.home.title">Images</span>
        <button class="btn btn-primary float-right jh-create-entity create-image-my-suffix" [routerLink]="['/', { outlets: { popup: ['image-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="hochzeitclick11App.image.home.createLabel">
            Create new Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hochzeitclick11App.image.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="images">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="hochzeitclick11App.image.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="alt"><span jhiTranslate="hochzeitclick11App.image.alt">Alt</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="caption"><span jhiTranslate="hochzeitclick11App.image.caption">Caption</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imgOriginal"><span jhiTranslate="hochzeitclick11App.image.imgOriginal">Img Original</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imgLarge"><span jhiTranslate="hochzeitclick11App.image.imgLarge">Img Large</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imgThumbnail"><span jhiTranslate="hochzeitclick11App.image.imgThumbnail">Img Thumbnail</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let image of images ;trackBy: trackId">
                <td><a [routerLink]="['../image-my-suffix', image.id ]">{{image.id}}</a></td>
                <td>{{image.title}}</td>
                <td>{{image.alt}}</td>
                <td>{{image.caption}}</td>
                <td>{{image.imgOriginal}}</td>
                <td>{{image.imgLarge}}</td>
                <td>{{image.imgThumbnail}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../image-my-suffix', image.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'image-my-suffix/'+ image.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'image-my-suffix/'+ image.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="images && images.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
